@import './src/styles/variables';

.thisDay {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.topBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  svg{
    width: 119px;
    height: 119px;
    transition: 2s;
  }
  &:hover{
    svg{
      transform: rotate(360deg);
    }
  }
  .currentTemp {
    font-size: 96px;
    font-weight: 500;
    color: $primary-color;
  }
  .currentDay {
    font-size: 40px;
    color: var(#{--text-color-default});;
  }
}

.bottomBlock {
  .currentTime, .currentCity {
    color: $base-color;
    font-size: 25px;
  }
}
